<div class="register">

  <form [formGroup]="registerForm" class="register-form">

    <mat-form-field color="primary">
      <input
        matInput
        formControlName="firstName"
        [(ngModel)]="patient.firstName"
        type = "firstName"
        placeholder="Enter your first name" required/>
    </mat-form-field>

    <p style="margin-top: 1%"  class="error-massage" [hidden]="firstName.untouched || firstName.valid">* First name is required</p>

    <mat-form-field color="primary">
      <input
        matInput
        formControlName="lastName"
        [(ngModel)]="patient.lastName"
        type = "lastName"
        placeholder="Enter your last name" required/>
    </mat-form-field>

    <p style="margin-top: 1%"  class="error-massage" [hidden]="lastName.untouched || lastName.valid">* Last name is required</p>
    <p style="color: #BDBDBD">Enter your date of birth</p>
    <mat-form-field color="primary">
      <input
        matInput
        formControlName="dateOfBirth"
        [(ngModel)]="patient.dateOfBirth"
        type = "Date"/>
    </mat-form-field>

    <div style="margin-bottom: 4%" >
    <label style="margin-right: 10%">
      <input type="radio" value="Male" formControlName="gender">
      <span>male</span>
    </label>
    <label>
      <input type="radio" value="Female" formControlName="gender">
      <span>female</span>
    </label>
    </div>

    <mat-form-field color="primary">
      <input
        matInput
        formControlName="height"
        [(ngModel)]="patient.height"
        type = "number"
        placeholder="Enter your height" />
    </mat-form-field>

    <mat-form-field color="primary">
      <input
        matInput
        formControlName="weight"
        [(ngModel)]="patient.weight"
        type = "number"
        placeholder="Enter your weight" />
    </mat-form-field>

    <mat-form-field color="primary">
      <input
        matInput
        formControlName="location"
        [(ngModel)]="patient.location"
        type = "location"
        placeholder="Enter your location" />
    </mat-form-field>

    <mat-form-field color="primary">
      <input
        matInput
        formControlName="email"
        [(ngModel)]="patient.email"
        type = "email"
        placeholder="Enter your email" required/>
    </mat-form-field>

    <p style="margin-top: 1%"  class="error-massage" [hidden]="email.untouched || email.valid">* Email is incorrect</p>

    <p style="color: #BDBDBD">Enter your phone number</p>
    <div style="margin-bottom: 2%" class="phone">
      <ngx-intl-tel-input
        [preferredCountries]="preferredCountries"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="false"
        [searchCountryFlag]="true"
        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.Ukraine"
        [maxLength]="11"
        [tooltipField]="TooltipLabel.Name"
        [phoneValidation]="true"
        [separateDialCode]="separateDialCode"
        name="phone"
        formControlName="phoneNumber"
        [(ngModel)]="patient.phoneNumber"
        type = "tel"
        placeholder="Enter your phone number" required>
      </ngx-intl-tel-input>
      <p style="margin-top: 2%" class="error-massage" [hidden]="phoneNumber.untouched || phoneNumber.valid">* Phone number is required</p>
    </div>

    <mat-form-field color="primary">
      <input
        matInput
        formControlName="password"
        [(ngModel)]="patient.password"
        type = "password"
        placeholder="Enter your password" required/>
    </mat-form-field>
    <p style="margin-top: 1%"  class="error-massage" [hidden]="password.untouched || password.valid">* Password is required</p>

    <mat-form-field color="primary">
      <input
        matInput
        formControlName="passwordConfirm"
        type = "password"
        [errorStateMatcher]="matcher"
        placeholder="Confirm your password" required
        />
    </mat-form-field>
    <p style="margin-top: 1%"  class="error-massage" [hidden]="passwordConfirm.untouched || passwordConfirm.valid">* Confirm password is required</p>

    <div *ngIf="registerForm.valid; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <button mat-raised-button (click)="submitForm()">Sign up</button>
    </ng-template>
    <ng-template #elseBlock>
      <button disabled mat-raised-button>Sign up</button>
    </ng-template>

  </form>
</div>
