<div class="register">

  <form [formGroup]="registerForm" class="register-form">

    <mat-form-field color="primary">
        <input
          matInput
          formControlName="firstName"
          type = "firstName"
          placeholder="Enter your first name" required/>
    </mat-form-field>
    <p class="error-massage" [hidden]="firstName.untouched || firstName.valid">* First name is required</p>

    <mat-form-field color="primary">
        <input
          matInput
          formControlName="lastName"
          type = "lastName"
          placeholder="Enter your last name" required/>
    </mat-form-field>
    <p class="error-massage" [hidden]="lastName.untouched || lastName.valid">* Last name is required</p>

    <p class="p-date">Enter your date of birth</p>
    <mat-form-field color="primary" class="mat-date">
        <input
          matInput
          formControlName="dateOfBirth"
          type = "Date"/>
    </mat-form-field>

    <div class="radio-sex">
    <label>
      <input type="radio" value="MALE" formControlName="gender">
      <span>male</span>
    </label>
    <label>
      <input type="radio" value="FEMALE" formControlName="gender">
      <span>female</span>
    </label>
    </div>

    <mat-form-field color="primary">
        <input
          matInput
          formControlName="height"
          type = "number"
          placeholder="Enter your height" />
    </mat-form-field>

    <mat-form-field color="primary">
        <input
          matInput
          formControlName="weight"
          type = "number"
          placeholder="Enter your weight" />
    </mat-form-field>

    <mat-form-field color="primary">
        <input
          matInput
          formControlName="location"
          type = "location"
          placeholder="Enter your location" />
    </mat-form-field>

    <mat-form-field color="primary">
        <input
          matInput
          formControlName="email"
          type = "email"
          placeholder="Enter your email" required/>
    </mat-form-field>
    <p class="error-massage" [hidden]="email.untouched || email.valid">* Email is incorrect</p>

    <p class="p-phone-number">Enter your phone number *</p>
    <div class="phone">
      <ngx-intl-tel-input
        [preferredCountries]="preferredCountries"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="false"
        [searchCountryFlag]="true"
        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.Ukraine"
        [maxLength]= '11'
        [tooltipField]="TooltipLabel.Name"
        [phoneValidation]="true"
        [separateDialCode]="separateDialCode"
        name="phone"
        formControlName="phoneNumber"
      >
      </ngx-intl-tel-input>
      <p class="error-massage" [hidden]="phoneNumber.untouched || phoneNumber.valid">* Phone number is required</p>
    </div>

    <mat-form-field color="primary">
        <input
          matInput
          formControlName="password"
          type = "password"
          placeholder="Enter your password" required/>
    </mat-form-field>
    <p class="error-massage" [hidden]="password.untouched || password.valid">* Password is required</p>

    <mat-form-field color="primary">
        <input
          matInput
          formControlName="passwordConfirm"
          type = "password"
          placeholder="Confirm your password" required
          />
    </mat-form-field>
    <p class="error-massage" [hidden]="passwordConfirm.untouched || passwordConfirm.valid">* Confirm password is required</p>

    <button [disabled]="registerForm.invalid"
            mat-raised-button (click)="submitForm()">Sign up
    </button>

  </form>
</div>
