@import "src/styles/classes/classes";

.register {

  width: 35%;
  margin: 1% auto;

  &__title {
    h2 {
      text-align: center;
    }
  }

  .register-form {
    position: relative;

    button {
      width: 100%;
      margin-top: 4%;
    }
  }

  ::ng-deep .mat-form-field-label {
    color: #BDBDBD !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: #BDBDBD !important;
  }

  mat-form-field {
    width: 100%;
  }

  input {
    margin-top: 2%;
  }

  .error-massage {
    margin-top: -5%;
    color: red;
    font-size: 80%;
  }

  button:disabled,
  button[disabled] {
    background-color: #BDBDBD;
    color: white;
  }

  .p-date, .p-phone-number{
    padding-top: 13px;
    margin: 0% auto;
    font-size: 98%;
    color: #BDBDBD;
  }

  .mat-date{
    padding-top: 0%;
    margin-top: -12%;
    color: #777777;
  }

  .radio-sex{
    label {
      margin-right: 10%;
    }
    margin-top: 7px;
    margin-bottom: 0;
  }

  ::ng-deep .selected-dial-code{
    margin-bottom: -31px;
    margin-top: 10px;
    padding-left: 5px;
  }

  ::ng-deep #phone{
    padding-left: 45px;
    margin-bottom: 14px;
  }


}
