<div class="add">

  <form [formGroup]="addForm" class="add-form">

      <mat-form-field color="primary" class="mat-date">
      <input
        matInput
        formControlName="selfLife"
        type = "Date"
      />
    </mat-form-field>
    <p class="error-massage" [hidden]="selfLife.untouched || selfLife.valid">* Self life is required</p>

    <mat-form-field color="primary">
      <input
        matInput
        formControlName="amount"
        placeholder="Enter amount" required
      />
    </mat-form-field>
    <p class="error-massage" [hidden]="amount.untouched || amount.valid">* Amount is required</p>

    <button [disabled]="addForm.invalid"
            mat-raised-button (click)="submit()">Confirm
    </button>
  </form>
</div>

