@import "src/styles/variables/variables";

.add {
  width: 400px;
  margin: 1% auto;
  background-color: #fcfcfc;

  .add-form {

    &__buttons{
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;

      button + button {
        margin-left: 1rem;
      }

      &-confirm:hover {
        background: $second-color;
        color: white;
      }
      &-confirm:disabled {
        background-color: #dbdbdb;
        color: white;
      }
    }
  }

  ::ng-deep .mat-form-field-label {
    color: #BDBDBD !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: #BDBDBD !important;
  }

  mat-form-field {
    padding-left: 1%;
    width: 100%;
  }

  input {
    margin: 2%;
  }

  button {
    background: $main-color;
    color: #EDEDED;
  }
}
