<div class="prescriptions">
  <div class="prescriptions__title component__title">
    <h2>Prescriptions</h2>
  </div>
  <div class="prescriptions__add-button">
    <button mat-raised-button (click)="addPrescription()">Add prescription</button>
  </div>

  <mat-accordion>
    <mat-expansion-panel class="prescriptions__list" *ngFor="let element of prescriptionStruct |
         paginate: {itemsPerPage: paginationOptions.size, currentPage: paginationOptions.pageNumber + 1}">
      <mat-expansion-panel-header (click)="getPrescriptionItems(element.prescription.id)">

        <mat-panel-title>
          <div class="prescriptions__list__title">
            {{element.prescription.name}}
          </div>
        </mat-panel-title>

        <mat-panel-description>
          <div class="prescriptions__list__date">
            {{element.prescription.date}}
          </div>
        </mat-panel-description>

      </mat-expansion-panel-header>

      <div class="prescriptions__list__buttons">
        <button mat-raised-button (click)="addPrescriptionItem(element.prescription)">Add item</button>
        <button mat-raised-button (click)="deletePrescription(element.prescription.id)">Delete prescription
        </button>
      </div>

      <div class="prescriptions__list__items">
        <ul>
          <li *ngFor="let prescriptionItem of element.prescriptionItems">
            <span>Medicine: {{prescriptionItem.medicine.name}}</span>
            <span>Dosage: {{prescriptionItem.dosage}}</span>
            <span>Taking time: {{prescriptionItem.takingTime}}</span>
            <span>From {{prescriptionItem.startDate}} to {{prescriptionItem.endDate}}</span>
            <span>Description: {{prescriptionItem.description}}</span>
            <mat-checkbox #isReminderEnabled
                          [disabled]="isPrescriptionItemEndDateInPast(prescriptionItem)"
                          [checked]="isPrescriptionItemEndDateInPast(prescriptionItem) ? false : prescriptionItem.isReminderEnabled"
                          (input)="setIsReminderEnabled(prescriptionItem.id, isReminderEnabled.checked)">
              Reminder
            </mat-checkbox>
            <button class="prescriptions__list__items__delete-button" mat-raised-button
                    (click)="deletePrescriptionItem(element.prescription.id, prescriptionItem.id)">
              Delete
            </button>
          </li>
        </ul>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <pagination-controls (pageChange)="changePage($event)" maxSize=""></pagination-controls>
</div>
