<div class="medicine-kit">
<div class="add-modal">
  <router-outlet></router-outlet>
</div>

<div class="component__title">
  <h2>Medicine kit</h2>
</div>

<div class="search">
  <mat-form-field>
    <input matInput
           [(ngModel)]="searchText"
           type="search"
           name="search"
           placeholder="Search"/>
  </mat-form-field>
  <button mat-button (click)="onSearch()">Search</button>
</div>

<div class="searchResultHeader" *ngIf="isSearching">
  <h4>Search result for {{searchText}}</h4>
  <button mat-raised-button (click)="clearSearchText()">Clear</button>
</div>

<div class="add">
    <button mat-raised-button routerLink="/profile/all-medicines">Add medicine</button>
</div>

<div class="kit">
  <ul class="medicine-instance">
    <li>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let medicineInstance of medicineKit | paginate: {itemsPerPage: paginationOptions.size, currentPage: paginationOptions.pageNumber+1}"
        [ngClass]="{
        'selected': medicineInstance === selectedMedicineInstance,
        'expired': medicineInstance.isExpired
        }"
        (click)="onSelected(medicineInstance)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="name">{{medicineInstance.medicine.name}}</span>
            </mat-panel-title>
            <mat-panel-description>
              <span class="manufactory">{{medicineInstance.medicine.manufacturer}}</span>
              <span class="self-life">{{medicineInstance.selfLife}}</span>
              <span class="amount">{{medicineInstance.amount}}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <ng-container *ngIf="!medicineInstance.isExpired; else expired">
            <mat-form-field>
              <input
                #selfLife
                matInput
                type="Date"
                value="{{medicineInstance.selfLife}}"
                placeholder="Self life">
            </mat-form-field>

            <mat-form-field>
              <input
                #amount
                matInput
                type="number"
                value="{{medicineInstance.amount}}"
                pattern="[0-9]{4}"
                placeholder="Amount">
            </mat-form-field>

            <button
              mat-raised-button (click)="submit(selfLife.valueAsDate, amount.valueAsNumber)">Confirm
            </button>

            <button
              mat-raised-button (click)="delete(medicineInstance.id)">Delete
            </button>



          </ng-container>
          <ng-template #expired>
            <button
              mat-raised-button (click)="delete(medicineInstance.id)">Delete
            </button>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </li>
  </ul>

  <pagination-controls (pageChange)=" pageChange($event)" maxSize=""></pagination-controls>
</div>
</div>
