div{
  z-index: 999;
}

.add-modal {
  position: absolute;
  width: 80%;
  height: 100%;
}
.kit {
  padding-top: 5%;

  .medicine-instance {
    list-style-type: none;
    margin-top: 4%;
  }

  .medicine-instance li {
    cursor: pointer;
    position: relative;
    margin: 4px;

    &.expired ::ng-deep .mat-expansion-panel{
      background: #bd6d6d;
    }
    &.expired ::ng-deep .mat-expansion-panel-header{
      background: #bd6d6d;
    }

    span {
      margin-right: 20%;
    }
  }

  .mat-expansion-panel-header {
    background-color: #777;
  }

  .mat-accordion {
    background-color: #777;
  }

  .mat-accordion:hover {
    background-color: #777;
  }

  ::ng-deep .ngx-pagination {
    margin-top: 2em;

    .current {
      background: #757575 !important;
    }
  }

  ::ng-deep .mat-form-field-label {
    color: #BDBDBD !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: #BDBDBD !important;
  }
}
.search{
  display: inline-block;
  position: absolute;
  right: 0.3em;
  button{
    margin-left: 0.5em;
  }
  ::ng-deep .mat-button{
    background: #EDEDED;
    color: #757575;
  }
  ::ng-deep .mat-button:hover{
    background: #757575;
    color: white;
  }
}
.add{
  margin-top: 0.5em;
  display: inline;
  position: absolute;
  left: 17.2em;
  button{
    background: #EDEDED;
    color: #757575;
  }
  button:hover{
    background: #757575;
    color: white;
  }
}

