<div>

  <div class="add-modal">
    <router-outlet></router-outlet>
  </div>

    <div class="add">
      <button mat-button routerLink="add" routerLinkActive="active">Add</button>
    </div>

    <div class="search">
      <mat-form-field>
        <input matInput
               [(ngModel)]="searchText"
               type="search"
               name="search"
               placeholder="Search"/>
      </mat-form-field>
      <button mat-button (click)="onSearch()">Search</button>
    </div>
  <div class="kit">
    <ul class="medicine-instance">
      <li *ngFor="let medicineInstance of medicineKit | paginate: {itemsPerPage: paginationOptions.size, currentPage: paginationOptions.pageNumber}"
          [ngClass]="{
            'selected': medicineInstance === selectedMedicineInstance,
            'expired': medicineInstance.isExpired
          }"
          (click)="onSelected(medicineInstance)">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>{{medicineInstance.name}}</span>
              </mat-panel-title>
              <mat-panel-description>
                <span>{{medicineInstance.manufacturer}}</span>
                <span>{{medicineInstance.selfLife}}</span>
                <span>{{medicineInstance.amount}}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-container *ngIf="!medicineInstance.isExpired; else expired">
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="medicineInstance.selfLife"
                type =  "Date"
                value = "{{medicineInstance.selfLife}}"
                placeholder="Self life">
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                [(ngModel)]="medicineInstance.amount"
                type =  "number"
                value = "{{medicineInstance.amount}}"
                pattern = "[0-9]{4}"
                placeholder="Amount">
            </mat-form-field>

            <button
              mat-raised-button (click)="submit()">Confirm
            </button>
            </ng-container>
            <ng-template #expired>
              <button
                mat-raised-button (click)="delete(medicineInstance.id)">Delete
              </button>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </li>
    </ul>

    <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
  </div>
</div>
