@import "src/styles/classes/classes";
@import "src/styles/variables/variables";

.add-modal {
  position: absolute;
  width: 80%;
  height: 100%;
}

.kit {
  padding-top: 5%;

  .medicine-instance {
    list-style-type: none;
    margin-top: 4%;
  }

  .medicine-instance li {
    cursor: pointer;
    position: relative;
    margin: 4px;

    &.expired ::ng-deep .mat-expansion-panel {
      background: #ffe3e3;
    }

    &.expired ::ng-deep .mat-expansion-panel-header {
      background: #ffe3e3;
    }

    .name{
     position: absolute;
    }
    .manufactory {
      position: absolute;
      margin-left: 3rem;
    }
    .self-life{
      margin-left: 23rem;
    }
    .amount{
      margin-left: 6rem;
    }
  }

  ::ng-deep .ngx-pagination {
    margin-top: 2em;
    position: relative;

    .current {
      background: #EDEDED !important;
    }
  }

  ::ng-deep .mat-form-field-label {
    color: #BDBDBD !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: #BDBDBD !important;
  }
}

button {
  background: $main-color;
  color:#EDEDED;
  margin-left: 0.5em;
}

button:hover {
  margin-left: 0.5em;
  background: $second-color;
  color: white;
}

::ng-deep .mat-form-field-label {
  color: #BDBDBD !important;
}

::ng-deep .mat-form-field-underline {
  background-color: #BDBDBD !important;
}

.search {
  display: inline-block;
  position: absolute;
  right: 0.3em;

  button {
    margin-left: 0.5em;
  }

}

.add {
  margin-top: 0.5em;
  display: inline;
  position: absolute;
  left: 17.2em;
}

