<div class="search">
  <mat-form-field>
    <input #searchTextInput matInput type="search" name="search" placeholder="Search"
           (input)="validateSearchText(searchTextInput.value)"/>

    <mat-hint class="hint-error" *ngIf="!isSearchTextValid">
      Search text can contain letters, numbers and hyphen
    </mat-hint>
  </mat-form-field>
  <button mat-button [disabled]="!isSearchTextValid" (click)="findMedicines(searchTextInput.value)">Search</button>
</div>

<div class="searchResultHeader" *ngIf="isSearching">
  <h4>Search result for {{searchText}}</h4>
  <button mat-raised-button (click)="searchTextInput.value = '';clearSearchText()">Clear</button>
</div>

<ul class="medicines">
  <li
    *ngFor="let medicine of medicineList | paginate: {itemsPerPage: paginationOptions.size, currentPage: paginationOptions.pageNumber + 1}"
    [class.selected]="medicine === selectedMedicine"
    (click)="onSelected(medicine)">
    <span>{{medicine.name}}</span>
    <span>{{medicine.manufacturer}}</span>
  </li>
</ul>

<pagination-controls (pageChange)="changePage($event)" maxSize=""></pagination-controls>

<div class="medicine-information" *ngIf="selectedMedicine">
  <input matInput #medicineAmount type="number" placeholder="amount" class="amountInput">
  <button mat-raised-button class="addToPurchaseButton"
          (click)="addMedicineToPurchase(medicineAmount.valueAsNumber)">Add to purchase
  </button>
  <button mat-raised-button class="addInstanceButton" (click)="addMedicineToKit()">Add to MedKit</button>
  <h2>{{selectedMedicine.name}} | Information</h2>
  <span>Form: {{selectedMedicine.productionForm}}</span>
  <span>Contraindications: {{selectedMedicine.contraindications}}</span>
  <span>Interaction: {{selectedMedicine.interactions}}</span>
  <span>Package contents: {{selectedMedicine.packageContent}}</span>
  <span>Method of admission: {{selectedMedicine.takingMethod}}</span>
  <span>Description: {{selectedMedicine.description}}</span>
  <span>Dosage: {{selectedMedicine.dosage}}</span>
</div>
