@import "src/styles/variables/variables";

.dialog-reminder-button-ok{
  &__buttons{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    button + button {
      margin-left: 1rem;
    }
    button {
      background: $main-color;
      color:#EDEDED;
      margin-left: 0.5em;
    }

    button:hover {
      margin-left: 0.5em;
      background: $second-color;
      color: white;
    }
  }
}
