<nav>
    <ul class="menu">
      <li><a routerLink="medicine-kit" routerLinkActive="active">Medicine kit</a></li>
      <li><a routerLink="doctors" routerLinkActive="active">My doctors</a></li>
      <li><a routerLink="prescriptions" routerLinkActive="active">My prescriptions</a></li>
      <li><a routerLink="notifications" routerLinkActive="active">My notifications</a></li>
      <li><a routerLink="purchases" routerLinkActive="active">Purchases</a></li>
      <li><a routerLink="all-medicines" routerLinkActive="active">All medicines</a></li>
    </ul>
</nav>
