<div class="change-password">
  <form [formGroup]="changeForm" class="change-password-form">
    <div class="change-password__title">
      <h3>Change password</h3>
    </div>

    <mat-form-field color="primary">
      <input matInput formControlName="password" type="password" placeholder="* Enter your password"/>
      <mat-error *ngIf="password.getError('required') && (password.dirty || password.touched)">
        Current password is required
      </mat-error>
    </mat-form-field>

    <mat-form-field color="primary">
      <input matInput formControlName="newPassword" type="password" placeholder="* Enter your new password"/>
      <mat-error *ngIf="newPassword.getError('required') && (newPassword.dirty || newPassword.touched)">
        New password is required
      </mat-error>
      <mat-error *ngIf="newPassword.getError('minlength') && (newPassword.dirty || newPassword.touched)">
        New Passwords must contain at least 3 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field color="primary">
      <input matInput formControlName="newPasswordConfirm" type="password" placeholder="* Confirm your new password"
             [errorStateMatcher]="passwordMatcher"/>
      <mat-error
        *ngIf="newPasswordConfirm.getError('required') && (newPasswordConfirm.dirty || newPasswordConfirm.touched)">
        Please confirm new password
      </mat-error>
      <mat-error
        *ngIf="changeForm.hasError('confirmedPasswordNotMatch') &&
         (newPasswordConfirm.dirty || newPasswordConfirm.touched) &&
          newPasswordConfirm.value">
        Passwords don't match
      </mat-error>
    </mat-form-field>

    <button [disabled]="changeForm.invalid" mat-raised-button (click)="submit()">Confirm</button>
  </form>
</div>
