@import "src/styles/variables/variables";

.change-password {
  width: 400px;
  margin: 0 auto;
  background-color: #fcfcfc;
  position: relative;

  &__title {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .change-password-form {
    button {
      width: 100%;
      margin-top: 4%;
    }
  }

  ::ng-deep .mat-form-field-label {
    color: #BDBDBD !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: #BDBDBD !important;
  }

  button:disabled,
  button[disabled] {
    background-color: #dbdbdb;
    color: white;
  }

  mat-form-field {
    padding-left: 1%;
    width: 100%;
  }

  input {
    margin: 2%;
  }

  error-massage {
    margin-top: -5%;
    color: red;
    font-size: 80%;
  }

  button {
    background: $main-color;
    color:#EDEDED;
    margin-left: 0.5em;
  }

  button:hover {
    margin-left: 0.5em;
    background: $second-color;
    color: white;
  }
}
