<div class="change-password">
  <form [formGroup]="changeForm" class="change-password-form">
    <div class="change-password__title">
      <h3>Change password</h3>
    </div>
    <mat-form-field color="primary">
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Enter your password" required/>
    </mat-form-field>
    <p class="error-massage" [hidden]="password.untouched || password.valid">* Password is required</p>

    <mat-form-field color="primary">
      <input
        matInput
        formControlName="newPassword"
        type="password"
        placeholder="Enter your new password" required
      />
    </mat-form-field>
    <p
      class="error-massage" [hidden]="newPassword.untouched || newPassword.valid"
    >* New password is required</p>


    <mat-form-field color="primary">
      <input
        matInput
        formControlName="newPasswordConfirm"
        type="password"
        placeholder="Confirm your new password" required
      />
    </mat-form-field>
    <p
      class="error-massage" [hidden]="newPasswordConfirm.untouched || newPasswordConfirm.valid"
    >* Confirm password is required</p>

    <button [disabled]="changeForm.invalid"
            mat-raised-button (click)="submit()">Confirm
    </button>

  </form>

</div>
