.login {
  width: 300px;
  margin: 12% auto;

  .login-form {
    position: relative;

    button {
      width: 100%;
      margin-top: 2%;
    }
  }

  &__title {
    h2 {
      text-align: center;
    }
  }

  .buttons {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ::ng-deep .mat-form-field-label {
    color: #BDBDBD !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: #BDBDBD !important;
  }

  mat-form-field {
    width: 100%;
  }

  input {
    margin-top: 2%;
  }

  .error-massage {
    margin-top: -5%;
    color: red;
    font-size: 80%;
  }

  button:disabled,
  button[disabled] {
    background-color: #BDBDBD;
    color: white;
  }

}
