<div class="login">
  <div class="login__title">
    <h2>Login</h2>
  </div>
  <form [formGroup]="loginForm" class="login-form">
    <app-spinner *ngIf="isLoading"></app-spinner>

    <mat-form-field color="primary">

      <input
        matInput
        formControlName="email"
        value="{{registerUserEmail}}"
        placeholder="Enter your email" required
        pattern="[a-zA-Z_0-9]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}"
      />

    </mat-form-field>

    <p class="error-massage" [hidden]="email.valid || email.untouched">* Email is incorrect</p>

    <mat-form-field color="primary">

      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Enter your password" required/>

    </mat-form-field>

    <p class="error-massage" [hidden]="password.untouched || password.valid">* Password is required</p>

    <button [disabled]="email.invalid || password.invalid"
            mat-raised-button (click)="submitForm()">Log in
    </button>

  </form>

  <div class="buttons">
    <button mat-button routerLink="/register">Sign up</button>
    <button mat-button routerLink="">Forgot password</button>
  </div>

</div>
