<div class=account>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <h1 class="account__info-title">
    <span class="name">{{patient?.firstName}} {{patient?.lastName}}</span>
  </h1>
  <div class="account__info">
    <div class="account__info-table">
      <div class="account__info-row">
        <div class="account__info-row-title">Date of birth:</div>
        <div class="account__info-row-value">{{patient?.dateOfBirth}}</div>
      </div>
      <div class="account__info-row">
        <div class="account__info-row-title">Gender</div>
        <div class="account__info-row-value">{{patient?.gender}}</div>
      </div>
      <div class="account__info-row">
        <div class="account__info-row-title">Height</div>
        <div class="account__info-row-value">{{patient?.height}}</div>
      </div>
      <div class="account__info-row">
        <div class="account__info-row-title">Weight</div>
        <div class="account__info-row-value">{{patient?.weight}}</div>
      </div>
      <div class="account__info-row">
        <div class="account__info-row-title">Location</div>
        <div class="account__info-row-value">{{patient?.location}}</div>
      </div>
      <div class="account__info-row">
        <div class="account__info-row-title">Email</div>
        <div class="account__info-row-value">{{patient?.email}}</div>
      </div>
      <div class="account__info-row">
        <div class="account__info-row-title">Phone number</div>
        <div class="account__info-row-value">{{patient?.phoneNumber}}</div>
      </div>
    </div>
    <div class="account__info-image"></div>
  </div>
  <div class="account__buttons">
    <button mat-raised-button (click)="editUser()">Edit</button>
    <button mat-raised-button (click)="changePassword()">Change password</button>
  </div>
</div>
