.account {


  &__modal {
    position: absolute;
    width: 80%;
    height: 100%;
  }

  &__info{
    font-family: 'Varela Round';
    color: #777;
    text-decoration: none;
    transition: all 0.40s;
    padding: 2%;
    h1{
      text-align: center;
    }

    p{
      font-size: 24px;
    }

    .name{
      display: inline;
      padding-top: 5px;
      font-size: 40px;
    }
  }

  button {
    z-index: 10;
    background-color: #BDBDBD;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: block;
    text-decoration: none;
    cursor: pointer;
  }
  button:hover {
    opacity: 1
  }

}

