.profile {
  width: 100%;
  display: flex;
  position: relative;

  &__sidebar {
    width: 20%;
    min-width: 230px;
    max-width: 235px;
    padding: 1rem;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    background: #f6f6f6;
  }

  &__content {
    width: 80%;
    padding-left: 1.5rem;
  }
}
