.edit {
  width: 400px;
  margin: 0 auto;
  background-color: #fcfcfc;
  position: relative;

  &__title {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .edit-form {
    button {
      width: 100%;
      margin-top: 1rem;

      &:hover {
        background: #333333;
      }
    }
  }

  ::ng-deep .mat-form-field-label {
    color: #BDBDBD !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: #BDBDBD !important;
  }

  .error-massage {
    margin-top: -5%;
    color: red;
    font-size: 80%;
  }

  button:disabled,
  button[disabled] {
    pointer-events: none;
    background-color: #dbdbdb;
    color: white;
  }

  mat-form-field {
    padding-left: 2%;
    width: 100%;
  }

  input {
    margin-top: 2%;
  }

  error-massage {
    margin-top: -5%;
    color: red;
    font-size: 80%;
  }

  button {
    background-color: #BDBDBD;
    color: white;
  }

  .p-date {
    padding-top: 13px;
    padding-left: 2%;
    margin: 0 auto;
    font-size: 98%;
    color: #BDBDBD;
  }
}
