<div class="edit">

  <form [formGroup]="editForm" class="edit-form">

    <mat-form-field color="primary">
      <label>
        <input
          matInput
          formControlName="firstName"
          [(ngModel)]="patient.firstName"
          value="{{patient.firstName}}"
          placeholder="Enter your first name">
      </label>
    </mat-form-field>

    <p class="error-massage" [hidden]="firstName.untouched || firstName.valid">* First name is required</p>

    <mat-form-field color="primary">
      <label>
        <input
          matInput
          formControlName="lastName"
          [(ngModel)]="patient.lastName"
          value="{{patient.lastName}}"
          placeholder="Enter your last name">
      </label>
    </mat-form-field>

    <p class="error-massage" [hidden]="lastName.untouched || lastName.valid">* Last name is required</p>

    <p class="p-date">Enter your date of birth</p>
    <mat-form-field color="primary">
      <label>
        <input
          matInput
          formControlName="dateOfBirth"
          [(ngModel)]="patient.dateOfBirth"
          type="Date"
          value="{{patient.dateOfBirth}}"/>
      </label>
    </mat-form-field>

    <mat-form-field color="primary">
      <label>
        <input
          matInput
          formControlName="height"
          [(ngModel)]="patient.height"
          type="number"
          value="{{patient.height}}"
          placeholder="Enter your height"/>
      </label>
    </mat-form-field>

    <mat-form-field color="primary">
      <label>
        <input
          matInput
          formControlName="weight"
          [(ngModel)]="patient.weight"
          type="number"
          value="{{patient.weight}}"
          placeholder="Enter your weight"/>
      </label>
    </mat-form-field>

    <mat-form-field color="primary">
      <label>
        <input
          matInput
          formControlName="location"
          [(ngModel)]="patient.location"
          value="{{patient.location}}"
          type="location"
          placeholder="Enter your location"/>
      </label>
    </mat-form-field>

    <mat-form-field color="primary">
      <label>
        <input
          matInput
          formControlName="phoneNumber"
          [(ngModel)]="patient.phoneNumber"
          type="email"
          value="{{patient.phoneNumber}}"
          pattern="[+][0-9]{12}"
          placeholder="Enter your phone number">
      </label>
    </mat-form-field>

    <p class="error-massage" [hidden]="phoneNumber.untouched || phoneNumber.valid">* Phone number is required</p>

    <mat-form-field color="primary">
      <label>
        <input
          matInput
          formControlName="email"
          [(ngModel)]="patient.email"
          type="email"
          value="{{patient.email}}"
          placeholder="Enter your email">
      </label>
    </mat-form-field>

    <p class="error-massage" [hidden]="email.untouched || email.valid">* Email is required</p>

    <button [disabled]="editForm.invalid"
            mat-raised-button (click)="submit()">Confirm
    </button>

  </form>
</div>
