@import "src/styles/variables/variables";
@import "src/styles/classes/classes";

.header {
  padding: 1rem;
  border-bottom: 1px solid #EAEAEA;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: 2rem;
    font-weight: bold;
    color: $main-color;
  }

  &__menu {
    display: flex;
    align-items: center;

    a {
      margin-left: 1rem;
      text-decoration: none;
      cursor: pointer;
      color: #333;

      &:hover, &.active {
        color: $main-color;
      }
    }
  }
}
