<div class="header">
  <div class="header__inner container">
    <div class="header__logo">MedBox</div>
    <menu class="header__menu">
      <a routerLink="login" routerLinkActive="active" *ngIf="!user">Login</a>
      <a routerLink="register" routerLinkActive="active" *ngIf="!user">Register</a>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="profile">Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="user">{{user.firstName}}</button>
      <button mat-icon-button routerLink="profile/notifications" routerLinkActive="active" *ngIf="user">
        <mat-icon aria-hidden="false" aria-label="Notifications" matBadge="22" matBadgePosition="above after" matBadgeColor="primary">notifications</mat-icon>
      </button>
    </menu>
  </div>
</div>
