@import "src/styles/classes/classes";

.purchases {
  &__buttons {
    display: flex;
    justify-content: flex-end;

    button + button {
      margin-left: 0.5rem;
    }
  }

  &__list {
    margin: 1rem 0;

    &__item {
      margin: 0.5rem 0;

      .amount-error {
        color: #ff230f;
      }
      button {
        margin-left: 0.5rem;
      }
    }
  }
}
