@import "src/styles/classes/classes";
@import "src/styles/variables/variables";

.purchases {
  &__buttons {
    display: flex;
    justify-content: flex-end;

    button + button {
      margin-left: 0.5rem;
    }
  }

  &__list {
    margin: 1rem 0;

    &__item {
      margin: 0.5rem 0;

      button {
        margin-left: 0.5rem;
      }
    }
  }

  button {
    background: $main-color;
    color: #EDEDED;
    margin-left: 0.5em;
  }

  button:hover {
    margin-left: 0.5em;
    background: $second-color;
    color: white;
  }

  button:disabled {
    background-color: #dbdbdb;
    color: white;
  }
}
