<div class="purchases">
  <div class="component__title">
    <h2>Purchases</h2>
  </div>

  <div class="purchases__buttons">
    <button mat-raised-button routerLink="../all-medicines" routerLinkActive="active">Add</button>
    <button mat-raised-button (click)="buyPurchaseItems()">Buy everything!</button>
  </div>

  <div class="purchases__list">
    <mat-accordion>
      <mat-expansion-panel
        class="purchases__list__item"
        *ngFor="let purchaseItem of purchaseItems | paginate: {
        itemsPerPage: paginationOptions.size,
        currentPage: paginationOptions.pageNumber + 1}"
        [class.selected]="purchaseItem === selectedPurchaseItem"
        (click)="onSelected(purchaseItem)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="name">{{purchaseItem.medicine.name}}</span>
          </mat-panel-title>
          <mat-panel-description>
            <span class="manufactory">{{purchaseItem.medicine.manufacturer}}</span>
            <span class="amount">{{purchaseItem.amount}}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput #medicineAmount type="number" min="0" value="{{purchaseItem.amount}}" placeholder="Amount">

          <mat-hint class="hint-error" [hidden]="!editButton.disabled">
            Amount must be a positive number
          </mat-hint>
        </mat-form-field>

        <button #editButton mat-raised-button
                [disabled]="medicineAmount.value === '' || medicineAmount.valueAsNumber < 0"
                (click)="editPurchaseItem(medicineAmount.valueAsNumber)">
          Confirm
        </button>

        <button mat-raised-button (click)="deletePurchaseItem(purchaseItem.id)">
          Delete
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <pagination-controls (pageChange)="changePage($event)" maxSize=""></pagination-controls>
</div>
