@import "src/styles/variables/variables";

.forgot-password {
  width: 300px;
  margin: 12% auto;

  .forgot-password-form {
    position: relative;

    button {
      width: 100%;
      margin-top: 2%;
    }
  }

  &__title {
    h2 {
      text-align: center;
    }
    margin-bottom: 1rem;
  }

  ::ng-deep .mat-form-field-label {
    color: #BDBDBD !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: #BDBDBD !important;
  }

  mat-form-field {
    width: 100%;
  }

  input {
    margin-top: 2%;
  }

  .error-massage {
    margin-top: -5%;
    color: red;
    font-size: 80%;
  }

  button {
    background: $main-color;
    color:#EDEDED;
  }

  button:hover {
    background: $second-color;
    color: white;
  }

  button:disabled,
  button[disabled] {
    background-color: #BDBDBD;
    color: white;
  }

}
