<div class="forgot-password">
  <div class="forgot-password__title">
    <h2>Forgot Password</h2>
  </div>
  <form [formGroup]="emailForm" class="forgot-password-form">
    <app-spinner *ngIf="isLoading"></app-spinner>

    <mat-form-field color="primary">

      <input
        matInput
        formControlName="email"
        placeholder="Enter your email"
        pattern="[a-zA-Z_0-9.]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}"
      />

      <mat-error *ngIf="email.hasError('required') && (email.dirty || email.touched)">
        Email is required
      </mat-error>
      <mat-error *ngIf="email.hasError('email') && (email.dirty || email.touched)">
        Email is invalid
      </mat-error>
    </mat-form-field>

    <button [disabled]="email.invalid" mat-raised-button (click)="submitForm()">
      Submit
    </button>
  </form>
</div>
