<div class="notification-page">

  <div class="reminder__list">
    <h4 class="reminder__list__title">Prescription notifications</h4>

    <div class="reminder__list-items">
      <div class="reminder__list-item" *ngFor="let reminder of reminderList">
        <mat-card class="reminder__list__card">

          <mat-card-subtitle>
            {{reminder.remindTime | date: 'HH:mm dd.MM.yyyy'}}
          </mat-card-subtitle>
          <mat-card-content>{{reminder.message}}</mat-card-content>

          <div class="reminder__list__buttons">
            <button mat-raised-button (click)="clickReminderButtonOk(reminder)">Ok</button>
            <button mat-raised-button (click)="deleteNotification(reminder.id)">Delete</button>
          </div>

        </mat-card>
      </div>
    </div>
  </div>

  <div class="notification__list">
    <h4 class="notification__list__title">Medicine Kit notifications</h4>

    <div class="notification__list-items">
      <div class="notification__list-item" *ngFor="let notification of notificationList">
        <mat-card class="notification__list__card">

          <mat-card-subtitle>
            {{notification.remindTime | date: 'dd.MM.yyyy'}}
          </mat-card-subtitle>
          <mat-card-content>{{notification.message}}</mat-card-content>

          <div class="notification__list__buttons ">
            <button mat-raised-button (click)="addMedicineInstanceToPurchase(notification.medicineInstanceId)">Add to purchase</button>
            <button mat-raised-button (click)="deleteNotification(notification.id)">Delete</button>
          </div>

        </mat-card>
      </div>
    </div>

  </div>

</div>
