<div class="reset-password">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <form [formGroup]="resetForm" class="reset-password-form" *ngIf="isTokenValid">
    <div class="reset-password__title">
      <h3>Reset Password</h3>
    </div>

    <mat-form-field color="primary">
      <input
        matInput
        formControlName="newPassword"
        type="password"
        placeholder="Enter your new password" required
      />
    </mat-form-field>
    <p
      class="error-massage" [hidden]="newPassword.untouched || newPassword.valid"
    >* New password is required</p>


    <mat-form-field color="primary">
      <input
        matInput
        formControlName="confirmPassword"
        type="password"
        placeholder="Confirm your new password" required
      />
    </mat-form-field>
    <p
      class="error-massage" [hidden]="confirmPassword.untouched || confirmPassword.valid"
    >* Confirm password is required</p>
    <p
      class="error-massage" [hidden]="confirmPassword.untouched || (confirmPassword.value === newPassword.value)"
    >* Enter the same password</p>

    <button [disabled]="resetForm.invalid"
            mat-raised-button (click)="submit()">Confirm
    </button>

  </form>

</div>
